<div class="col-xs-12 col-sm-4 border pt-4">
  <% if user.image.attached? %>
    <%= image_tag user.image ,class: "profile-image " %>
  <% else %>
    <%= gravatar_for user, size: 150 %>
  <% end %>
  <h3>
    <%= link_to user.name, user %>
    <small class="text-muted">さん</small>
  </h3>
</div>