<div class="user-profile text-center">
  <% if @user.image.attached? %> 
    <p><%= image_tag @user.image, class: "profile-image" %></p>
  <% else %>
    <p><%= gravatar_for @user %></p>
  <% end %>
  <h1>
    <%= @user.name %><small class="text-muted">さん</small>
  </h1>
  <% if current_user?(@user) %>
    <%= link_to "退会する", @user, method: :delete,
                                  data: { confirm: "本当に退会してもよろしいでしょうか?" } %>
  <% end %>
</div>
