@import "bootstrap";
/*@import "bootstrap-sprockets";*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
	margin: 0;
}

.flash-msg {
  margin-top: 60px;
}

header nav {
  opacity: 0.8;
}

.top {
  background: url(seoul.jpg) center center / cover no-repeat fixed;
  opacity: 0.8;
  min-height: 100vh;
  h1, p {
    color: #ffffff;
  }
}

/*about*/

.about {
  padding: 30px;
}

.step {
  margin: 30px;
}

/*recommend*/

.recommend {
  background: #eeeeee;
  padding: 30px;
}

.flexiblebox {
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
}

.topPage_drama {
  padding-top: 15px;
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: 0 auto;
}

/* forms */

form {
  margin: 0 auto;
  width: 400px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
    color: red;
}

/* signup */

.signup {
  h1 {
    margin-top: 80px;
  }
}


